*{
    margin: 0;
    padding: 0;
    font-family: 微软雅黑;
}
body{
    margin: 10px 10px;
}
.total{

}
.top,.bottom{
    width: 100%;
    height: 70px;
    background-color: black;
}
.top_title{
    height: 50px;
    margin: 10px 10px;
    color: darkred;
    float: left;
}
.nav{
    height: 15px;
}
.nav li{
    width: 80px;
    float: right;
    margin-right: 25px;
    margin-top: 25px;
    font-size: 15px;
    text-align: center;
}
.nav li a{
    text-decoration: none;
    color: white;
}

.content{
    background-color: lightgray;
    padding: 20px;
    overflow: hidden;
}
.content_1,.content_2,.content_3,.content_4{
    background-color: white;
    padding: 20px;
}
.content_1,.content_2,.content_3{
    margin-bottom:20px;
    position: relative;
    width: calc(100% - 450px);
}

.content_4{
    position: absolute;
    width: 350px;
    top: 100px;
    right: 30px;
}
h2{
    margin-top: 10px;
}
h3{
    margin-top: 15px;
    color: gray;
}
h4{
    margin-top: 15px;
    color: dimgray;
    font-size: 12px;
}
.section{
    margin: 20px 0;
    text-indent: 2em;
}

.content_2 li{
    margin-left: 20px;
    list-style-type: none;
}
.img_box{
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 30px;
    width: 150px;
    height: 120px;
    border: 1px solid gray;
}
.img_box p{
    width: 150px;
    height: 20px;
    text-align: center;

}
.img_box img{
    width: 120px;
    height: 80px;
    margin-left: 15px;
    margin-top: 10px;
}

.content_3 ul{
    margin-top:20px;
    margin-left: 40px;
}
.content_3 ul li{
    list-style-type: decimal
}
.content_3 table{
    width: 100%;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}
.content_3 table td{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}
.content_3 thead{
    background-color: black;
    color: #ffffff;
}

.content_3 tfoot {
    background-color: lightgray;
}

.content_4_title{
    font-weight: bold;
    padding-left: 10px;
    border-left: 3px solid gray;
    margin-bottom: 10px;
}
.content_4 table{
    width: 100%;
}
.content_4 tr td{
    font-size: 14px;
    height:30px;
}
.content_4 tr td:first-child{
    text-align: right;
    padding-right: 10px;
    width: 40%;
}
.content_4 p{
    color: gray;
    height: 35px;
}
.content_4 textarea{
    width: 80%;
    height: 80px;
}
.content_4 .submit button{
    width: 100%;
    height: 40px;
    background-color: mediumblue;
    border-radius: 10px;
    color: white;
    font-size: 16px;
}
.bottom_content{
    text-align: center;
    line-height: 70px;
    width: 70px;
    color: white;
    margin: auto;
}

